.container
{
	border: 1px solid #ddd;
	margin: 0 auto;
	padding: 16px;
	border-radius: 6px;
	width: auto;
	height: 500px;
}

#controls
{
	display: flex;
	justify-content: center;
	margin-top: 20px;

	button
	{
		padding: 10px 16px;
		margin: 0 5px;
	}
}

.row
{
	display: flex;
	justify-content: center;

	.cell
	{
	 	border: 1px solid #dfdfdf;
	 	margin: 0;
	 	padding: 4px;
 		background: #fff;

	 	&.active
	 	{
	 		background-color: #00b527;
	 	}
	}
}